<div class="container-fluid">
    <div class="logo">
        <img src="assets/Group 1000008165.png" alt="">
    </div>
    <div class="header-profile">
        <!-- <div class="filter">
            <img src="assets/Group 4.png" alt="">
            <img src="assets/Group 4.png" alt="">
        </div> -->
        <div class="profile">
            <img src={{imgUrl}} alt="" height="56px" width="56px">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Hasnain 
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/update-profile"><img src="assets/profile.png" alt="" width="14px" height="18px">My Profile</a></li>
                  <li><a class="dropdown-item" routerLink="/setting"><img src="assets/setting.png" alt="" width="14px" height="18px"> Settings</a></li>
                  <li><a class="dropdown-item" ><button>Log out</button></a></li>
                </ul>
              </div>
        </div>
      
    </div>
</div>


