



<div class="container-fluid">

    <div class="list-container">
        <div class="list-tab" routerLink="/detail">
            <div class="text-end">
                <img src="assets/heart.png" alt="" width="21px" height="21px">
                <img src="assets/fill heart.png" alt="" width="23px" height="23px">
            </div>
            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src="assets/image (3).png" alt=""></div>
                    <div class="detail">
                        <h3>Al Makram</h3>
                        <div class="street-adress"><img src="assets/Vector.png" alt="">
                            <h6>123 plaza 52 street gate house</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="assets/image (2).png" alt="">
                    <h6>New York, California, USA</h6>
                </div>
            </div>


        </div>
        <div class="list-tab">

            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src="../../../assets/image (3).png" alt=""></div>
                    <div class="detail">
                        <h3>Al Makram</h3>
                        <div class="street-adress"><img src="../../../assets/Vector.png" alt="">
                            <h6>123 plaza 52 street gate house</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="../../../assets/image (2).png" alt="">
                    <h6>New York, California, USA</h6>
                </div>
            </div>


        </div>
        <div class="list-tab">

            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src="../../../assets/image (3).png" alt=""></div>
                    <div class="detail">
                        <h3>Al Makram</h3>
                        <div class="street-adress"><img src="../../../assets/Vector.png" alt="">
                            <h6>123 plaza 52 street gate house</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="../../../assets/image (2).png" alt="">
                    <h6>New York, California, USA</h6>
                </div>
            </div>


        </div>
        <div class="list-tab">

            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src="../../../assets/image (3).png" alt=""></div>
                    <div class="detail">
                        <h3>Al Makram</h3>
                        <div class="street-adress"><img src="../../../assets/Vector.png" alt="">
                            <h6>123 plaza 52 street gate house</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="../../../assets/image (2).png" alt="">
                    <h6>New York, California, USA</h6>
                </div>
            </div>


        </div>
        <div class="list-tab">

            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src="../../../assets/image (3).png" alt=""></div>
                    <div class="detail">
                        <h3>Al Makram</h3>
                        <div class="street-adress"><img src="../../../assets/Vector.png" alt="">
                            <h6>123 plaza 52 street gate house</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="../../../assets/image (2).png" alt="">
                    <h6>New York, California, USA</h6>
                </div>
            </div>


        </div>
    </div>
</div>





