



<div class="container-fluid">

    <div class="list-container">
        <div class="list-tab"  *ngFor="let item of personData ;let i = index">
            <div class="text-end">
                <img src=" {{item.isFavorite? 'assets/fill heart.png':'assets/heart.png'}}   " alt="" width="21px" height="21px" (click)="addFvrt(item.isFavorite,item.id,i)">
           
            </div>
            <div class="inside-container">
                <div class="pofile">
                    <div class="profile-img"><img src={{item.imgUrl}} alt=""></div>
                    <div class="detail">
                        <h3>{{item.name}}</h3>
                        <div class="street-adress"><img src="assets/Vector.png" alt="">
                            <h6>{{item.location}}</h6>
                        </div>
                    </div>
                </div>
                <div class="location">
                    <img src="assets/image (2).png" alt="">
                    <h6>{{item.state}},{{item.country}}</h6>
                </div>
            </div>


        </div>
     
    </div>
</div>





