


<section class="conatiner-fluid p-0">
    <div class="col-12 user-head-bg-image">
        <img src="../../assets/mask.png" alt="">
    </div>
    <div class="col-12 user-image text-center">
        <img src="{{dataArry.imgUrl}}" alt="">
    </div>
    <div class="col-12 user-details">
        <div class="text-center">
            <h1>{{dataArry.name}} </h1>
        </div>
        <div class="loaction-info ">
            
                <p>123 Plaza 52 Street Gate House</p>
            
                <p>New York, California, USA</p>
            
        </div>
    </div>
    <div class="story-data">
        <div class="col-md-8 col-12 p-0">
            <h1>story</h1>
            <div class="col-12 story-div">
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy.It is a long established fact that a reader will be distracted by the readable content of a
                    page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still in their
                    infancy.
                </p>
            </div>
        </div>
    </div>
</section>


