<div class="container-fluid">
    <div>
        <h3>Dashboard</h3>
    </div>

    <div class="dashboard-tabs">
        <div class="tab">
            <h3>loved ones</h3>
            <img src="../../../assets/Group 1.png" alt="">
        </div>
        <div class="tab">
            <h3> view favorites</h3>
            <img src="../../../assets/Group 2.png" alt="">
        </div>
        <div class="tab">
            <h3>edit profile</h3>
            <img src="../../../assets/Group 3.png" alt="">
        </div>
    </div>
</div>
