.container-fluid {
    background-image: url('../../../assets/mask.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 20px;
}

h3 {
    margin-inline-start: 25px;
}

.dashboard-tabs {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    margin-block-start: 50px;

    .active-tab {
        border-bottom: 4px solid black;
    }

    .tab {
        flex: 1 1 30%;
        display: flex;
        position: relative;

        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
        border-radius: 20px;

        h3 {
            font-size: 30px;
            font-weight: 500;
        }

        img {
            width: 84px;
            height: 84px;
        }

    }
}





@media (max-width: 1200px) {
    .tab {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .dashboard-tabs {
        flex-direction: column;
    }

    .tab {
        flex: 1 1 100%;
        margin-block-start: 20px;
    }
}


@media (max-width: 480px) {
    .tab {
        flex-direction: column;
        text-align: center;
    }

    .tab img {
        margin-block-start: 10px;
    }
}