
<div class="container-fluid">
    <div>
        <h3>Dashboard</h3>
    </div>

    <div class="dashboard-tabs">
        <div class="tab">
            <h3>loved ones</h3>
            <a routerLink="/love-ones"><img src="assets/Group 1.png" alt=""></a>
        </div>
        <div class="tab">
            <h3> view favorites</h3>
            <img src="assets/Group 2.png" alt="">
        </div>
        <div class="tab" >
            <h3>edit missing person's detail</h3>
            <a routerLink="/missing-person-detail" ><img  src="assets/Group 3.png" alt=""></a>
        </div>
    </div>
</div>




